.orderContainer{
    width: 60%;
    background-color: var(--primary-color);
    padding: 20px;
    margin: 10px auto;
    border-radius: 5px;

}

.order{
    color: rgb(40, 12, 199);
    padding: 10px;
}