.cartWidget{
    position: relative;
    margin: 10px;
}

.iconCart{
    font-size: 20px;
}

.counter{
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: rgb(40, 12, 199);
    border-radius: 50%;
    padding: 5px;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -10px;
    bottom: -10px;

}